* {
    margin : 0;
    padding: 0;
}

body {
    font: 14px/1.4 'Nunito', sans-serif;
}

#page-wrap {
    width : 800px;
    margin: 0 auto;
}

textarea {
    border  : 0;
    font    : 14px Helvetica, Sans-Serif;
    overflow: hidden;
    resize  : none;
}

table {
    border-collapse: collapse;
}

table td,
table th {
    border : 1px solid black;
    padding: 5px;
}

#header {
    height         : 15px;
    width          : 100%;
    margin         : 20px 0;
    background     : #222;
    text-align     : center;
    color          : white;
    font           : bold 15px Helvetica, Sans-Serif;
    text-decoration: uppercase;
    letter-spacing : 10px;
    padding        : 8px 0px;
}

#identity {
    margin: 2%
}

#address {
    width : 260px;
    height: 150px;
    float : right;
}

#employee {
    overflow: hidden;
}

.company-address {
    margin-top: 10px;
}

#logo {
    text-align: right;
    float     : right;
    position  : relative;
    border    : 1px solid #fff;
    max-width : 540px;
    max-height: 100px;
    overflow  : hidden;
}

.edit #logohelp {
    display: block;
}

.edit #save-logo,
.edit #cancel-logo {
    display: inline;
}

.edit #image,
#save-logo,
#cancel-logo,
.edit #change-logo,
.edit #delete-logo {
    display: none;
}

#employee-details {
    float: left;
}

#employee-details-table {
    font-size: 12px;

}

.font-bold {
    font-weight: bold !important;
}

.text-center {
    text-align: center;
}

#meta {
    margin-top: 1px;
    width     : 300px;
    float     : right;
}

#meta td {
    text-align: right;
}

#meta td.meta-head {
    text-align: left;
    background: #eee;
}

#meta td textarea {
    width     : 100%;
    height    : 20px;
    text-align: right;
}

#items {
    width : 95%;
    border: 1px solid black;
    float : left;
    margin: 2%
}

#items th {
    background: #eee;
}

#items textarea {
    width : 80px;
    height: 50px;
}

#items tr.item-row td {
    border        : 1px solid black;
    vertical-align: top;
    font-size:14px;
}

#items td.description {
    width     : 300px;
    text-align: right
}

#items td.item-name {
    width: 175px;
}

#items td.description textarea,
#items td.item-name textarea {
    width: 100%;
}

#items td.total-line {
    border-right: 0;
    text-align  : right;
}

#items td.total-value {
    border-left: 0;
    padding    : 10px;
}

#items td.total-value textarea {
    height    : 20px;
    background: none;
}

#items td.balance {
    background: #eee;
}

#items td.blank {
    border: 0;
}

#remarks {
    width : 94%;
    border: 1px solid black;
    float : left;
    margin: 2%
}

#remarks th {
    background: #eee;
}

#remarks tr.item-row td {
    border        : 1px solid black;
    vertical-align: top;
}

#terms {
    text-align: center;
    margin    : 20px 0 0 0;
    display   : block;
}

#terms h5 {
    text-transform: uppercase;
    font          : 13px Helvetica, Sans-Serif;
    letter-spacing: 10px;
    border-bottom : 1px solid black;
    padding       : 0 0 8px 0;
    margin        : 0 0 8px 0;
}

#terms textarea {
    width     : 100%;
    text-align: center;
}

textarea:hover,
textarea:focus,
#items td.total-value textarea:hover,
#items td.total-value textarea:focus,
.delete:hover {
    background-color: #EEFF88;
}

.delete-wpr {
    position: relative;
}

.delete {
    display        : block;
    color          : #000;
    text-decoration: none;
    position       : absolute;
    background     : #EEEEEE;
    font-weight    : bold;
    padding        : 0px 3px;
    border         : 1px solid;
    top            : -6px;
    left           : -22px;
    font-family    : Verdana;
    font-size      : 12px;
}